* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
.header {
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

.banner-header {
    text-align: right;
    padding-right: 230px;
}

.banner-title {
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    padding-top: 233px;
    margin-bottom: 18px;
}

.banner-description {
    color: #444343;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 920px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    background: #FE8E4F;
    border-radius: 10px;
    margin-bottom: 200px;

}

/* Main section */
main {
    max-width: 1350px;
    margin: 0 auto;
}


/* About style */
.about {
    display: flex;
    margin: 140px;
}

.about img {
    border-radius: 50%;
    background-color: #BCC0C1;
    margin-right: 30px;
}

.about-title {
    text-align: left;
    margin-top: 80px;
    padding-left: 50px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;

}

.section-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;

}

.fa-regular {
    color: #16D887;
}

/* my Plan Style */
.my-plans {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 55px;
}

.Plan-container {
    display: flex;
    justify-content: space-between;
}

.sub-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-description {
    font-weight: 500;
    font-size: 16px;
    color: #737272;
}

.sub-plan img {
    border-radius: 4px;
    padding: 5px;
    width: 100px;
}

/* my Project style */
.my-project {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.project-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 55px;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.sub-project-title {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.project-description {
    font-weight: 500;
    font-size: 16px;
    color: #737272;
}

.sub-project img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}


/* call style */
.linear-containner {
    max-width: 1150px;
    margin: 0 auto;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    border-radius: 8px;
}

.call-container {
    padding: 60px 65px;
    background-image: url(../images/gradient1.png);
    background-repeat: no-repeat;
}

.call-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}

/* Footer style */
.footer-container {
    background-color: #151414;
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 130px 230px;

}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 20px;
}

.footer-description {
    margin-right: 300px;
    color: #FFFFFF;
}

.subscribe-footer h2 {
    color: #FFFFFF;
}

.Social-icon .fa-brands {
    color: #FFFFFF;
    margin-top: 30px;
    padding: 5px;
}

.subscribe-title {
    margin-bottom: 20px;
}

.footer-container input {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
    font-size: 16px;
    border-radius: 10px;
}